{extend name="layout"}


{block name="head"}

<link rel="stylesheet" href="LAYUI_css/main.css">

{/block}

{block name="content-main"}
    <div class="panel_box row">
        <div class="panel col">
            <a href="javascript:;" data-url="page/message/message.html">
                <div class="panel_icon">
                    <i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
                </div>
                <div class="panel_word newMessage">
                    <span>44444</span>
                    <cite>新消息</cite>
                </div>
            </a>
        </div>
        <div class="panel col">
            <a href="{:url('admin/member/index')}" data-url="page/user/allUsers.html">
                <div class="panel_icon" style="background-color:#009688;">
                    <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
                </div>
                <div class="panel_word userAll">
                    <span>5555</span>
                    <cite>用户总数</cite>
                </div>
            </a>
        </div>
        <div class="panel col">
            <a href="{:url('admin/member/index')}" data-url="page/img/images.html">
                <div class="panel_icon" style="background-color:#5FB878;">
                    <i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
                </div>
                <div class="panel_word imgAll">
                    <span>34</span>
                    <cite>入驻工厂</cite>
                </div>
            </a>
        </div>
        <div class="panel col">
            <a href="javascript:;" data-url="page/news/newsList.html">
                <div class="panel_icon" style="background-color:#F7B824;">
                    <i class="layui-icon" data-icon="&#xe615;">&#xe615;</i>
                </div>
                <div class="panel_word waitNews">
                    <span>50</span>
                    <cite>待审核</cite>
                </div>
            </a>
        </div>
    </div>



    <blockquote class="layui-elem-quote title">系统基本参数</blockquote>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>当前版本</td>
            <td class="version">v0.1</td>
        </tr>
        <tr>
            <td>开发作者</td>
            <td class="author">SvenBarnett（彭思文）</td>
        </tr>
        <tr>
            <td>作者联系方式</td>
            <td class="author">QQ：386179555</td>
        </tr>
        <tr>
            <td>网站首页</td>
            <td class="homePage"><a href="https://www.svenbarnett.cn/">https://www.svenbarnett.cn</a></td>
        </tr>
        <tr>
            <td>服务器环境</td>
            <td class="server">{$Think.server.SERVER_SOFTWARE}</td>
        </tr>
        <tr>
            <td>最大上传限制</td>
            <td class="maxUpload">{:ini_get('upload_max_filesize')}</td>
        </tr>
        <tr>
            <td>当前用户权限</td>
            <td class="userRights">管理员</td>
        </tr>
        </tbody>
    </table>
{/block}

